<!DOCTYPE html>
<html>
  <head>
    <title>Crumblr</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <ul class="nav nav-pills pull-right"> 
          <li>
            <%= link_to "Home", root_url %>
          </li>
          <li>
            <%= link_to "Manage Posts", posts_url %>
          </li>
          <li>
            <%= link_to "About", about_url %>
          </li>
        </ul>
        <h1>
          <%= link_to "crumblr", "/" %>
          <small> //home baked goodness </small>
        </h1>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">  
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
